/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.App {
  height: 100vh;
  overflow: auto;
  text-align: center;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  margin-top: -500px;
  font-size: 2.5rem;
  font-family: "Inconsolata", cursive;
  color: white;
}

.sub-header {
  margin-top: -10px;
  font-size: 1.1rem;
  font-family: "Inconsolata", cursive;
  color: white;
}

.connected-header {
  font-family: "Inconsolata";
  color: #f000be;
  text-shadow: -4px -4px 0 #77caff;
  position: relative;
  left: -530px;
  top: 12px;
  font-size: 2.5rem;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Inconsolata";
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.connect-wallet-button {
  background:none;
  border:none;
}

.disconnect-wallet-button {
  background-color: #f000be;
  position: relative;
  font-family: "Inconsolata";
  font-size: 0.9rem;
  font-weight: bold;
  left: 500px;
  top: -60px;
  width: 250px;
}

.placeholder {
  font-family: "Inconsolata";
}

.signin {
  cursor:pointer;
}

.play-button-outer {
  position:absolute;
  right:15px;
  bottom:15px;
  z-index:9999;
  cursor: pointer;
}

.play-button {
  margin: 0 auto;
  top: 25%;
  position: relative;  
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1.5em 0 1.5em 2.5em;
  border-color: transparent transparent transparent #f000be;
  opacity: .50; 
}

.play-button-outer:hover .play-button {
  opacity: 1;
}

.form {
  position: relative;
  left: 495px;
  top: -164px;
  overflow: hidden;
  width: 600px;
}

.submit-gif-button {
  background-color: #f000be;
  background-size: 200% 200%;
  margin-left: 10px;
  font-family: "Inconsolata";
  font-size: 1rem;
  font-weight: bold;
}

.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
  margin-top: -100px;
  padding-bottom: 20px;
}

.gif-grid .gif-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
  background-color: #f000be;
  padding: 15px;
  border-radius: 15px;
}

.gif-image {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  object-fit: cover;
}

.connected-container {height: auto;}

.connected-container input[type="text"] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}

.connected-container button {
  height: 50px;
}

.address-tag {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  grid-column-gap: 8px;
  padding: 6px 10px 8px 10px;
  background-color: #f000be;
  width: 150px;
  height: 20px;
  border-radius: 34px;
  margin-left: 30px;
  margin-top: -20px;
  color: #ffffff;
  font-family: "Inconsolata";
  font-weight: bold;
}

.phantom-image {
  width: 25px;
  height: 25px;
}

/*/ /*/
@keyframes saturate {
  0%, 80%, 100% {
    filter: saturate(1);
  }
  90% {
    filter: saturate(1.5);
  }
}
@keyframes glitch-red-blue-layers {
  0%, 100% {
    filter: drop-shadow(0);
  }
  93% {
    filter: drop-shadow(-10px 0 0 rgba(30, 10, 170, 0.5));
  }
  94% {
    filter: drop-shadow(10px 0 0 rgba(240, 0, 190, 0.2));
  }
}
@keyframes grid-appear-animation {
  0% {
    opacity: 0;
    height: 0;
    transform: initial;
  }
  100% {
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.012, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes grid-background-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 20px;
  }
}
@keyframes stars-animation {
  from {
    opacity: 0.3;
    transform: scale(0.3);
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}
@keyframes logo-appear-animation {
  from {
    transform: scale(0) translateZ(0);
  }
  60% {
    transform: scale(1.5) translateZ(0);
  }
  to {
    transform: scale(1) translateZ(4vw);
  }
}
@keyframes logo-background-animation {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(720deg);
  }
}
@keyframes logo-text-animation {
  0%, 90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes underline-animation {
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes noise-white-background-animation {
  0% {
    display: block;
    background: linear-gradient(90deg, transparent, transparent, #fff, #fff, #fff, #fff, #fff, transparent) 89% 76% no-repeat, linear-gradient(90deg, transparent, transparent, transparent, transparent, transparent, transparent, #fff, transparent) 98% 3% no-repeat, linear-gradient(90deg, transparent, #fff, #fff, #fff, transparent, #fff, transparent, transparent) 78% 13% no-repeat, linear-gradient(90deg, transparent, #fff, transparent, transparent, #fff, transparent, transparent, transparent) 43% 92% no-repeat, linear-gradient(90deg, transparent, #fff, transparent, transparent, #fff, #fff, transparent, transparent) 77% 9% no-repeat, linear-gradient(90deg, transparent, #fff, transparent, transparent, #fff, #fff, #fff, transparent) 33% 89% no-repeat;
    background-size: 3% 1px, 32% 1px, 8% 1px, 7% 1px, 35% 1px, 20% 1px;
    animation-timing-function: steps(1);
  }
  2% {
    display: none;
    background: 0;
    background-size: 0;
    animation-timing-function: steps(2);
  }
  19% {
    display: none;
  }
  20% {
    display: block;
    background: linear-gradient(90deg, transparent, #fff, #fff, #fff, #fff, transparent, #fff, transparent) 42% 29% no-repeat, linear-gradient(90deg, transparent, #fff, #fff, transparent, #fff, transparent, transparent, transparent) 27% 11% no-repeat;
    background-size: 18% 1px, 18% 1px;
    animation-timing-function: steps(4);
  }
  22% {
    display: none;
    background: 0;
    background-size: 0;
    animation-timing-function: steps(5);
  }
  100% {
    display: none;
  }
}
@keyframes noise-black-animation {
  0% {
    top: 0;
  }
  25% {
    top: 100%;
    display: none;
  }
  100% {
    top: 100%;
    display: none;
  }
}
.log {
  position: fixed;
  top: 0;
  font-family: monospace;
  z-index: 1000;
  display: none;
}

body {
  --mouseX: 0;
  --mouseY: 0;
  --random1: 0;
  --random2: 0;
  position: relative;
  background: #141414;
  color: white;
  transition: all 0.2s linear;
  animation: saturate calc(var(--random3) * 5s) linear infinite, glitch-red-blue-layers calc(var(--random3) * 20s) linear infinite;
}

.screen-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.screen-pixels {
  background: repeating-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 2px, transparent 2px, transparent 4px);
  z-index: 100;
  pointer-events: none;
}

.noise-white {
  opacity: 0.3;
  z-index: 50;
  animation: noise-white-background-animation 4s linear infinite;
  pointer-events: none;
}

.noise-black {
  z-index: 50;
  pointer-events: none;
}
.noise-black::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background: #141414;
  animation: noise-black-animation 10s linear infinite;
  opacity: calc(var(--random2));
}

.global-container {
  position:relative;
  overflow: hidden;
}

.scene {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.flex {
  position: relative;
  display: flex;
}
.flex-center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.intro {
  transition: all 0.2s linear;
}
.intro::before {
  content: "";
  display: block;
  width: 200vw;
  height: 50vh;
  position: absolute;
  top: 25%;
  left: -50%;
  z-index: -1;
  background-image: repeating-linear-gradient(to top, #1e0aaa, #1e0aaa 1px, transparent 1px, transparent 10px), repeating-linear-gradient(90deg, #1e0aaa, #1e0aaa 3px, transparent 3px, transparent 100px);
  animation: grid-appear-animation 4s cubic-bezier(0, 0.5, 0.5, 1), grid-background-animation 1s linear infinite;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.012, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-mask-image: linear-gradient(to bottom, transparent 30%, black 60%);
}

.stars::before, .stars::after {
  content: "";
  display: block;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  box-shadow: 46vw 28vh white, -6vw 43vh white, -14vw 38vh white, -22vw 46vh white, 49vw 2vh white, -37vw 27vh white, -2vw -23vh white, 42vw -49vh white, 23vw -41vh white, -15vw 49vh white, 9vw 19vh white, 43vw 33vh white, 23vw 4vh white, 15vw -25vh white, -25vw -46vh white, -31vw -1vh white, -48vw 9vh white, -13vw 12vh white, 2vw 40vh white, 45vw -33vh white, -6vw -8vh white, 50vw -28vh white, 42vw -42vh white, -11vw 47vh white, -36vw -47vh white, -7vw 15vh white, 20vw -14vh white, -38vw -44vh white, 17vw -3vh white, 35vw 44vh white, -47vw -13vh white, -42vw -10vh white, 47vw 24vh white, 6vw -38vh white, 39vw 41vh white, -45vw 17vh white, 9vw 36vh white, -4vw 17vh white, 45vw -31vh white, 2vw -31vh white, 26vw -44vh white, 5vw 45vh white, 7vw 5vh white, 2vw -4vh white, -27vw 24vh white, -13vw -12vh white, 9vw -13vh white, -10vw -48vh white, -40vw -26vh white, 27vw -17vh white, -30vw 33vh white, -6vw 39vh white, -9vw 1vh white, -23vw 18vh white, 16vw -28vh white, -12vw -20vh white, -6vw 17vh white, 38vw 35vh white, 37vw 19vh white, 19vw 50vh white, -34vw -7vh white, -31vw -28vh white, 23vw -43vh white, 23vw -4vh white, -24vw 39vh white, 7vw -36vh white, -42vw 2vh white, 1vw 46vh white, 40vw -31vh white, 22vw -4vh white, 17vw -43vh white, 38vw 13vh white, 5vw 29vh white, -13vw -30vh white, 24vw 15vh white, -43vw 40vh white, 48vw -24vh white, -7vw -18vh white, 36vw 50vh white, 30vw -29vh white, -31vw -10vh white;
  animation: stars-animation 4s cubic-bezier(0.8, 0, 1, 0.8) infinite;
}
.stars::after {
  box-shadow: -47vw 31vh white, -25vw 11vh white, 13vw 23vh white, 3vw 15vh white, 24vw 39vh white, -11vw -16vh white, -34vw -21vh white, -37vw -46vh white, -43vw -13vh white, -24vw -12vh white, -27vw 7vh white, -44vw -28vh white, -2vw 18vh white, 35vw -29vh white, -19vw 17vh white, 40vw -28vh white, 21vw -18vh white, 29vw -34vh white, -27vw 50vh white, -13vw 47vh white, 39vw 38vh white, -14vw -23vh white, -44vw -28vh white, 11vw -2vh white, -36vw -38vh white, -6vw 0vh white, 35vw 24vh white, -47vw -24vh white, -34vw -11vh white, -33vw 36vh white, -3vw -39vh white, -26vw 38vh white, -44vw 17vh white, -47vw 16vh white, 40vw 25vh white, -22vw -27vh white, 12vw -44vh white, 15vw 10vh white, 17vw -16vh white, 44vw 13vh white, -15vw -17vh white, -38vw -39vh white, -45vw 38vh white, 24vw -9vh white, -36vw 28vh white, 32vw 25vh white, -34vw -1vh white, -10vw -5vh white, 44vw -45vh white, -33vw -22vh white, 44vw -35vh white, 28vw -31vh white, -48vw 36vh white, -30vw -13vh white, 9vw -2vh white, 42vw 15vh white, -12vw -45vh white, -41vw -38vh white, -11vw 18vh white, -11vw 7vh white, 29vw -45vh white, 17vw -24vh white, 40vw 20vh white, 34vw 21vh white, -21vw 8vh white, -46vw 13vh white, -33vw -39vh white, 8vw 26vh white, 2vw -6vh white, -48vw 13vh white, -10vw 38vh white, 45vw 1vh white, 44vw -29vh white, 0vw 3vh white, 27vw 44vh white, -16vw -17vh white, -24vw -30vh white, 22vw 18vh white, -1vw -13vh white, 5vw 27vh white, -2vw 0vh white;
  animation-delay: 1s;
}

.stars-2::before {
  box-shadow: 42vw -32vh white, -12vw 33vh white, 7vw -8vh white, -7vw 19vh white, -29vw 38vh white, 25vw 5vh white, 31vw -38vh white, 36vw -40vh white, 19vw -2vh white, 15vw 27vh white, -35vw -44vh white, 24vw 42vh white, -49vw 6vh white, 25vw -4vh white, -44vw -18vh white, -1vw -46vh white, 47vw 46vh white, 20vw 2vh white, -43vw -15vh white, 5vw -17vh white, 11vw -35vh white, -1vw -28vh white, 42vw -32vh white, 7vw 36vh white, 19vw -5vh white, -30vw -18vh white, -21vw 40vh white, 31vw 21vh white, -45vw -42vh white, 3vw -30vh white, -5vw -30vh white, 12vw 47vh white, 11vw 42vh white, -29vw -18vh white, -15vw -3vh white, -28vw -47vh white, -41vw 31vh white, -11vw -29vh white, -23vw 44vh white, 25vw 38vh white, 49vw 27vh white, -24vw 19vh white, 25vw 23vh white, -22vw 16vh white, 20vw 17vh white, 11vw 21vh white, -25vw -37vh white, -49vw -18vh white, 7vw -16vh white, -25vw -22vh white, 23vw 45vh white, 14vw -22vh white, -31vw -34vh white, 48vw -41vh white, -47vw -18vh white, 27vw 25vh white, -13vw -14vh white, 19vw -48vh white, 21vw 28vh white, 6vw -36vh white, 48vw -33vh white, 3vw -22vh white, -42vw 28vh white, 14vw -19vh white, 19vw -32vh white, -20vw -26vh white, 46vw -16vh white, 37vw -33vh white, 42vw 36vh white, 4vw -21vh white, 5vw 39vh white, -36vw -27vh white, 15vw -38vh white, 35vw -31vh white, -20vw -25vh white, 26vw -47vh white, -10vw -12vh white, 9vw -4vh white, 39vw -42vh white, -22vw 10vh white, 34vw 29vh white;
  animation-delay: 2s;
}
.stars-2::after {
  box-shadow: -38vw -23vh white, -13vw 16vh white, 44vw 41vh white, 49vw 48vh white, -35vw 26vh white, -5vw 50vh white, -19vw 11vh white, 19vw 19vh white, -7vw -24vh white, 3vw 27vh white, 7vw -43vh white, -48vw -7vh white, 45vw -19vh white, -22vw -14vh white, 34vw 32vh white, 8vw 9vh white, -3vw -2vh white, 39vw 30vh white, 20vw -45vh white, -46vw -20vh white, -36vw -22vh white, -41vw 8vh white, -14vw -30vh white, 29vw -3vh white, -28vw -13vh white, 14vw -21vh white, 48vw 19vh white, -22vw -19vh white, -45vw -46vh white, -16vw -14vh white, 47vw -40vh white, -12vw -36vh white, -39vw -27vh white, 46vw 20vh white, 26vw 43vh white, 49vw 32vh white, -35vw 17vh white, -47vw -29vh white, 29vw -9vh white, 3vw 42vh white, -44vw 43vh white, 2vw -26vh white, -6vw -14vh white, 41vw 37vh white, 9vw -15vh white, 17vw 6vh white, 8vw -43vh white, -40vw 44vh white, 27vw 38vh white, -30vw -22vh white, 14vw -11vh white, -21vw 0vh white, 33vw 24vh white, -31vw -32vh white, 23vw 36vh white, 20vw -5vh white, -25vw -31vh white, -23vw -8vh white, 29vw 36vh white, -47vw -35vh white, -27vw -38vh white, 2vw 48vh white, -1vw 29vh white, 26vw -38vh white, -45vw -43vh white, 39vw 11vh white, -22vw 31vh white, 18vw -31vh white, 44vw -20vh white, -13vw -24vh white, -24vw -31vh white, 24vw -5vh white, 46vw 18vh white, 6vw -29vh white, -47vw 4vh white, -17vw -30vh white, 48vw 34vh white, -5vw -26vh white, -48vw 39vh white, 11vw -15vh white, 9vw -33vh white;
  animation-delay: 3s;
}

.logo-container {
  min-height: 100vh;
  perspective: 20vw;
  z-index: 1;
}

.logo {
  transform: translateZ(4vw);
  transform-style: preserve-3d;
  animation: logo-appear-animation 3s cubic-bezier(0.65, 0, 0.35, 1);
}
@media (min-width: 991px) {
  .logo {
    transform: rotateX(calc(var(--mouseY) * 2deg)) rotateY(calc(var(--mouseX) * 2deg)) translateZ(4vw);
  }
}
.logo .text {
  position: relative;
  color: white;
  font-size: 7vw;
  font-style: italic;
  line-height: 1em;
  transform: rotate(-5deg);
  transform-style: preserve-3d;
}
@media (min-width: 991px) {
  .logo .text {
    font-size: 12vh;
  }
}
.logo .text::before {
  content: "";
  display: block;
  background: #1e0aaa;
  background: radial-gradient(ellipse at 10% 10%, #f000be 0%, #1e0aaa 80%, #1e0aaa 100%);
  position: absolute;
  top: -10%;
  right: -30%;
  bottom: -10%;
  left: -20%;
  clip-path: polygon(50% 0, 10% 40%, 100% 100%);
  z-index: -1;
  animation: logo-background-animation 3s cubic-bezier(0.55, 0, 0.35, 1);
}
.logo .text .line {
  animation: logo-text-animation linear;
}
.logo .text .line-1, .logo .text .line-2 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.logo .text .line-1 {
  position: relative;
  right: -5%;
  font-family: "Londrina Outline", sans-serif;
  text-shadow: 0 0 5px #f000be, 0 0 5px #f000be, 0 0 15px #f000be, 0 0 15px #f000be, 0 0 15px #f000be, 0 0 20px #f000be, -4px 4px 3px rgba(0, 0, 0, 0.5);
  transform: translateZ(1vw);
  animation-duration: 3s;
}
.logo .text .line-2 {
  position: relative;
  right: -10%;
  padding: 2% 4% 2% 0%;
  font-family: "Londrina Solid", sans-serif;
  background: linear-gradient(5deg, white 10%, #1e0aaa 30%, #141414 50%, white 51%, #1e0aaa 75%, #141414 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateZ(3vw);
  animation-duration: 3.5s;
}
@media (min-width: 991px) {
  .logo .text .line-2 {
    -webkit-text-fill-color: rgba(255, 255, 255, calc((var(--mouseX) * var(--mouseY)) / 50));
    text-shadow: 0 0 0.5em rgba(255, 255, 255, calc((var(--mouseX) * var(--mouseY)) / 50));
    background: linear-gradient(5deg, white 10%, #1e0aaa 30%, #141414 calc(50% + (var(--mouseY) * -2%)), white calc(51% + (var(--mouseY) * -2%)), #1e0aaa 75%, #141414 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.firefox .logo .text .line-2 {
  background: initial;
  background-clip: initial;
  -webkit-text-fill-color: initial;
  color: white;
  text-shadow: initial;
}
.logo .text .line-3 {
  position: relative;
  top: -10px;
  right: -40%;
  display: inline-block;
  font-family: "Mr Dafoe", cursive;
  color: #f000be;
  z-index: -1;
  transform: translateZ(2vw);
  animation-duration: 4s;
}
.logo .text .line-3::first-letter {
  font-size: 1.2em;
}
.logo .text .line-3::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50%;
  height: 0.03em;
  background: #f000be;
  border-radius: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  animation: underline-animation 1s ease 4s;
  animation-fill-mode: forwards;
}